.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1, h2 {
    text-align: right;
  }

  h1 {
    font-size: 5.75rem;
    line-height: 6.5rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 300;

    margin-top: 1.5rem;
  }

  @media(max-width: 600px) {
    flex: 1;
    align-items: center;

    h1, h2 {
      text-align: center;
    }

    h1 {
      margin-top: auto;
      font-size: 3.5rem;
      line-height: 4rem;
    }
  
    h2 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      
      margin: 1.5rem 0 auto;
    }
  }
}

.buttons {
  position: relative;
  background: var(--primary);

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 0.5rem;
  border-radius: 1.125rem;
  box-shadow: -6px 6px 20px #000000A3;
  margin-top: 4rem;

  &::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    
    width: 148px;
    height: 60px;
    border-radius: 0.725rem;
    background: var(--secondary);

    transition: all 0.4s;
  }

  &.first::before {
    left: 0.5rem;
  }

  &.second::before {
    left: 9.75rem;
  }

  button {
    text-align: center;
    font-weight: bold;
    color: var(--secondary);

    z-index: 2;
    
    width: 148px;
    height: 60px;
    border: 0;
    background: transparent;
    border-radius: 0.725rem;
    
    transition: all 0.4s;

    &.active {
      color: var(--primary);
    }
  }

  @media(max-width: 600px) {
    margin-top: 0;
    padding: 0.375rem;

    &::before {
      top: 0.375rem;
      height: 50px;
    }

    &.second::before {
      left: 10.75rem;
    }

    button {
      font-size: 0.875rem;
      height: 50px;
    }
  }
}