.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;

  h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  li, button {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  nav {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;

  margin-right: 4.25rem;

  li {
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      width: 0;
      height: 1px;
      background: var(--primary);

      transition: width 0.4s;
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 80%;
      }
    }
  }
}

.action-buttons {
  display: flex;

  button {
    width: 122px;
    height: 44px;
    border: 0;
  }

  .button-sign-in {
    background: transparent;
  }

  .button-register {
    border-radius: 0.5rem;
    background: var(--secondary);

    &:hover {
      filter: brightness(1.1);
    }
  }
}